/.project
/.classpath
/package.json
/.settings/
/target/
/node/
**/.project
**/.classpath
**/.settings/
**/target/
**/node_modules/
**/package.json
**/package-lock.json
**/webpack.generated.js
/frontend/
/vite.generated.ts
/.factorypath
